<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.versilistyson.foodieapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_foodieapp"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_foodieapp_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DetailsActivity">
        </activity>
        <activity android:name=".ui.ProfileActivity"/>
        <activity android:name=".AppLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.HomePageActivity"
                android:theme="@style/HomePageTheme"/>
        <activity android:name=".ui.RegisterActivity"/>
        <activity android:name=".CreateNewEntryActivity"/>
    </application>

</manifest>